body {
    font-size: 12px;
    font-family: arial;
}

.page-header {
    text-transform: uppercase;
}

.header-struk {
    background-color: #eee;
}

.struck {
    font-size: 11px;
    width: 7.5cm
}

.struck-footer {
    background-color: #eee;
}

p {
    padding-left: 1em;
    margin: 2px;
}

hr {
    color: #eee;
}

i {
    text-align: center;
}

.full_name {
    text-transform: capitalize;
    cursor: pointer;
}

.panel-default .panel-heading {
    background-color: #444343;
    color: #eee;
}

.panel-info .panel-heading {
    background-color: #444343;
    color: #eee;
}

.panel-default .panel-body {
    border: solid 1px #444343;
    /*border-radius: 10px;*/
}

button {
    color: #eee;
}

.btn-default {
    background-color: #444343;
    color: #eee;
}

.btn-default:hover {
    background-color: #eee;
    color: #333;
}

.refresh {
    color: #2D2D2D;
    background-color: transparent;
    border: none;
}

.refresh:hover {
    color: #F0EEEE;
}


.my-0 {
    margin-top: 0 !important;
}

.my-0 {
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
}

.my-1 {
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
}

.my-2 {
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
}

.my-3 {
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
}

.my-4 {
    margin-bottom: 1.5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
}

.my-5 {
    margin-bottom: 3rem !important;
}

.my-n1 {
    margin-top: -0.25rem !important;
}

.my-n1 {
    margin-bottom: -0.25rem !important;
}

.my-n2 {
    margin-top: -0.5rem !important;
}

.my-n2 {
    margin-bottom: -0.5rem !important;
}

.my-n3 {
    margin-top: -1rem !important;
}

.my-n3 {
    margin-bottom: -1rem !important;
}

.my-n4 {
    margin-top: -1.5rem !important;
}

.my-n4 {
    margin-bottom: -1.5rem !important;
}

.my-n5 {
    margin-top: -3rem !important;
}

.my-n5 {
    margin-bottom: -3rem !important;
}

.my-auto {
    margin-top: auto !important;
}

.my-auto {
    margin-bottom: auto !important;
}

.my-sm-0 {
    margin-top: 0 !important;
}

.my-sm-0 {
    margin-bottom: 0 !important;
}

.my-sm-1 {
    margin-top: 0.25rem !important;
}

.my-sm-1 {
    margin-bottom: 0.25rem !important;
}

.my-sm-2 {
    margin-top: 0.5rem !important;
}

.my-sm-2 {
    margin-bottom: 0.5rem !important;
}

.my-sm-3 {
    margin-top: 1rem !important;
}

.my-sm-3 {
    margin-bottom: 1rem !important;
}

.my-sm-4 {
    margin-top: 1.5rem !important;
}

.my-sm-4 {
    margin-bottom: 1.5rem !important;
}

.my-sm-5 {
    margin-top: 3rem !important;
}

.my-sm-5 {
    margin-bottom: 3rem !important;
}

.my-sm-n1 {
    margin-top: -0.25rem !important;
}

.my-sm-n1 {
    margin-bottom: -0.25rem !important;
}

.my-sm-n2 {
    margin-top: -0.5rem !important;
}

.my-sm-n2 {
    margin-bottom: -0.5rem !important;
}

.my-sm-n3 {
    margin-top: -1rem !important;
}

.my-sm-n3 {
    margin-bottom: -1rem !important;
}

.my-sm-n4 {
    margin-top: -1.5rem !important;
}

.my-sm-n4 {
    margin-bottom: -1.5rem !important;
}

.my-sm-n5 {
    margin-top: -3rem !important;
}

.my-sm-n5 {
    margin-bottom: -3rem !important;
}

.my-sm-auto {
    margin-top: auto !important;
}

.my-sm-auto {
    margin-bottom: auto !important;
}

.my-md-0 {
    margin-top: 0 !important;
}

.my-md-0 {
    margin-bottom: 0 !important;
}

.my-md-1 {
    margin-top: 0.25rem !important;
}

.my-md-1 {
    margin-bottom: 0.25rem !important;
}

.my-md-2 {
    margin-top: 0.5rem !important;
}

.my-md-2 {
    margin-bottom: 0.5rem !important;
}

.my-md-3 {
    margin-top: 1rem !important;
}

.my-md-3 {
    margin-bottom: 1rem !important;
}

.my-md-4 {
    margin-top: 1.5rem !important;
}

.my-md-4 {
    margin-bottom: 1.5rem !important;
}

.my-md-5 {
    margin-top: 3rem !important;
}

.my-md-5 {
    margin-bottom: 3rem !important;
}

.my-md-n1 {
    margin-top: -0.25rem !important;
}

.my-md-n1 {
    margin-bottom: -0.25rem !important;
}

.my-md-n2 {
    margin-top: -0.5rem !important;
}

.my-md-n2 {
    margin-bottom: -0.5rem !important;
}

.my-md-n3 {
    margin-top: -1rem !important;
}

.my-md-n3 {
    margin-bottom: -1rem !important;
}

.my-md-n4 {
    margin-top: -1.5rem !important;
}

.my-md-n4 {
    margin-bottom: -1.5rem !important;
}

.my-md-n5 {
    margin-top: -3rem !important;
}

.my-md-n5 {
    margin-bottom: -3rem !important;
}

.my-md-auto {
    margin-top: auto !important;
}

.my-md-auto {
    margin-bottom: auto !important;
}

.my-lg-0 {
    margin-top: 0 !important;
}

.my-lg-0 {
    margin-bottom: 0 !important;
}

.my-lg-1 {
    margin-top: 0.25rem !important;
}

.my-lg-1 {
    margin-bottom: 0.25rem !important;
}

.my-lg-2 {
    margin-top: 0.5rem !important;
}

.my-lg-2 {
    margin-bottom: 0.5rem !important;
}

.my-lg-3 {
    margin-top: 1rem !important;
}

.my-lg-3 {
    margin-bottom: 1rem !important;
}

.my-lg-4 {
    margin-top: 1.5rem !important;
}

.my-lg-4 {
    margin-bottom: 1.5rem !important;
}

.my-lg-5 {
    margin-top: 3rem !important;
}

.my-lg-5 {
    margin-bottom: 3rem !important;
}

.my-lg-n1 {
    margin-top: -0.25rem !important;
}

.my-lg-n1 {
    margin-bottom: -0.25rem !important;
}

.my-lg-n2 {
    margin-top: -0.5rem !important;
}

.my-lg-n2 {
    margin-bottom: -0.5rem !important;
}

.my-lg-n3 {
    margin-top: -1rem !important;
}

.my-lg-n3 {
    margin-bottom: -1rem !important;
}

.my-lg-n4 {
    margin-top: -1.5rem !important;
}

.my-lg-n4 {
    margin-bottom: -1.5rem !important;
}

.my-lg-n5 {
    margin-top: -3rem !important;
}

.my-lg-n5 {
    margin-bottom: -3rem !important;
}

.my-lg-auto {
    margin-top: auto !important;
}

.my-lg-auto {
    margin-bottom: auto !important;
}

.my-xl-0 {
    margin-top: 0 !important;
}

.my-xl-0 {
    margin-bottom: 0 !important;
}

.my-xl-1 {
    margin-top: 0.25rem !important;
}

.my-xl-1 {
    margin-bottom: 0.25rem !important;
}

.my-xl-2 {
    margin-top: 0.5rem !important;
}

.my-xl-2 {
    margin-bottom: 0.5rem !important;
}

.my-xl-3 {
    margin-top: 1rem !important;
}

.my-xl-3 {
    margin-bottom: 1rem !important;
}

.my-xl-4 {
    margin-top: 1.5rem !important;
}

.my-xl-4 {
    margin-bottom: 1.5rem !important;
}

.my-xl-5 {
    margin-top: 3rem !important;
}

.my-xl-5 {
    margin-bottom: 3rem !important;
}

.my-xl-n1 {
    margin-top: -0.25rem !important;
}

.my-xl-n1 {
    margin-bottom: -0.25rem !important;
}

.my-xl-n2 {
    margin-top: -0.5rem !important;
}

.my-xl-n2 {
    margin-bottom: -0.5rem !important;
}

.my-xl-n3 {
    margin-top: -1rem !important;
}

.my-xl-n3 {
    margin-bottom: -1rem !important;
}

.my-xl-n4 {
    margin-top: -1.5rem !important;
}

.my-xl-n4 {
    margin-bottom: -1.5rem !important;
}

.my-xl-n5 {
    margin-top: -3rem !important;
}

.my-xl-n5 {
    margin-bottom: -3rem !important;
}

.my-xl-auto {
    margin-top: auto !important;
}

.my-xl-auto {
    margin-bottom: auto !important;
}